.cursorignore
.cursorrules
/.cursor
/Logs
/out
/bin
/lib
/test-results

#cursor
.cursorignore
.cursorrules
/.cursor

#frontend
frontend/*.vscode
frontend/node_modules
frontend/dist

#backend
build/
Packages/*
!Packages/.gitkeep

#Packages
Packages/*
!Packages/Launchpad/dist
!Packages/Launchpad/manifest.yaml

#logs and temp files
*.log
/logs/*
/Logs/*
/Temp/*
*.tmp

#build
bin/
build/

#examples
examples/

#wails
